.news-info {
    .image {
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .content {
        max-width: 70%;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 100px;
        font-family: 'Roboto', serif;
        .title {
            font-family: 'Roboto Slab', serif;
            font-weight: bold;
            font-size: 1.8em;
            margin-bottom: 20px;
        }
        .desc {
            font-size: 1em;
            margin-bottom: 40px;
        }
        .info {
            font-size: .9em;
            border-top: 1px solid #ddd;
            padding-top: 10px;
        }
    }
}

@media(max-width: 900px) {
    .news-info {
        .content {
            max-width: 90%;
        }
    }
}